ion-row {
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.header {
  font-weight: bold;
}

ion-col {
  overflow-wrap: anywhere;
}

.header ion-col {
  font-size: 0.85rem;
  overflow-wrap: normal;
}
